* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.body {
  padding: 20px;
  background-color: #0a192f;
}
.self-photo {
  height: 50px;
  border-radius: 100px;
  animation: inFromBottom 0.75s ease-out;
}
.section {
  height: 100vh;
}
.intro {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  color: #ff91a4;
  margin-top: 60px;
  animation: inFromBottom 0.75s ease-out 0.25s;
  animation-fill-mode: backwards;
}
.name {
  font-family: 'Roboto', sans-serif;
  font-size: 38px;
  color: #ccd6f6;
  padding-top: 8px;

  animation: inFromBottom 0.75s ease-out 0.35s;
  animation-fill-mode: backwards;
}

.me {
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
  color: #8892b0;
  padding-top: 8px;

  animation: inFromBottom 0.75s ease-out 0.45s;
  animation-fill-mode: backwards;
}

.info {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  color: #8892b0;
  padding-top: 38px;

  animation: inFromBottom 0.75s ease-out 0.65s;
  animation-fill-mode: backwards;
}

@keyframes inFromBottom {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}
