* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.body {
  background-color: #0a192f;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.section {
  height: 100vh;
  width: 99vw;
}

.self-photo-container {
  padding: 20px;
}

.self-photo {
  height: 50px;
  border-radius: 100px;
  animation: inFromBottom 0.75s ease-out;
}

.page-container {
  padding: 20px;
}

.intro {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  color: #ff91a4;
  margin-top: 60px;
  animation: inFromBottom 0.75s ease-out 0.25s;
  animation-fill-mode: backwards;
}

.name {
  font-family: 'Roboto', sans-serif;
  font-size: 38px;
  color: #ccd6f6;
  padding-top: 8px;

  animation: inFromBottom 0.75s ease-out 0.35s;
  animation-fill-mode: backwards;
}

.me {
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
  color: #8892b0;
  padding-top: 8px;

  animation: inFromBottom 0.75s ease-out 0.45s;
  animation-fill-mode: backwards;
}

.info {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 18px;
  line-height: 26px;
  max-width: 325px;
  color: #8892b0;
  padding-top: 38px;

  animation: inFromBottom 0.75s ease-out 0.65s;
  animation-fill-mode: backwards;
}

.employment {
  display: inline-block;
}

.section-title {
  font-family: 'Roboto', sans-serif;
  color: #ccd6f6;
}

.section-info {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 18px;
  line-height: 26px;
  max-width: 325px;
  color: #8892b0;
  padding-top: 38px;
}

@keyframes inFromBottom {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

/* Desktop View */

@media (min-width: 1025px) {
  header {
    display: flex;
    flex-direction: row;
    position: relative;
  }

  .nav {
    padding: 30px 50px;
    position: absolute;
    right: 0;
  }

  .nav-link {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    animation: inFromBottom 0.75s ease-out;
  }

  .nav-link:link,
  .nav-link:visited {
    text-decoration: none;
    color: #ccd6f6;
    margin-right: 30px;
  }

  .self-photo-container {
    padding: 20px 40px;
  }

  .first-page-container {
    padding: 80px 350px;
  }

  .name {
    font-size: 80px;
  }

  .me {
    font-size: 52px;
  }

  .info {
    max-width: 525px;
  }
}
